

" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

" Do incremental searching.
set incsearch
" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" NERDTree
Plug 'preservim/nerdtree'

"""""""""""""""""""""""	PERSONAL CONFIG """""""""""""""""""""""
set NERDTree
let mapleader = " "
set ignorecase
set smartcase
set visualbell
set number relativenumber

" Screens, tabs and tab navigation
map <leader>v <C-w>v
map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-[> gT
map <C-]> gt

map <C-d> <C-d>zz
map <C-u> <C-u>zz

map <C-s> <Action>(MoveEditorToOppositeTabGroup)
map <leader>z <Action>(MaximizeEditorInSplit)


" copy paste / search for yanked
set clipboard^=unnamed,unnamedplus
cnoremap <C-v> <C-r>"

"""""""""""""""""""""""	Intellij actions """""""""""""""""""""""
" navigation
nmap <leader>sf <Action>(GotoFile)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>q <Action>(CloseAllEditorsButActive)
nmap <leader>Q <Action>(CloseAllEditors)
imap jj <esc>

" ideavimrc
map <leader>si :source ~/.ideavimrc<CR>
map s :action VimCancelExEntry<cr>

" linters
map <leader>F <Action>(ReformatCode)

" git
map <leader>g <Action>(Git.Branches)

" intellisense & shit
map <leader>gi <Action>(FindUsages)
nmap U <Action>(ShowUsages)
nmap gi <Action>(GotoImplementation)
nmap ge <Action>(ShowErrorDescription)
map <leader>gd <Action>(QuickImplementations)
nmap <leader>sw <Action>(FindInPath)
vmap <leader>sw <Action>(FindSelectionInPath)
map <leader>p <Action>(ParameterInfo)
map <leader>R <Action>(RenameElement)
imap <C-y> <Action>(EditorChooseLookupItem)

" continue plugin
map <leader>cc <Action>(continue.focusContinueInput)
map <leader>ci <Action>(continue.inlineEdit)

" debugging
map <leader>B <Action>(Debugger.RemoveAllBreakpoints)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>mb <Action>(ToggleMethodBreakpoint)

" popups
map <leader>cr <Action>(Refactorings.QuickListPopupAction)
map <leader>cg <Action>(Generate)

" Bookmarks
map <leader>a <Action>(HarpoonerAddFile)
map <leader>h <Action>(HarpoonerQuickMenu)
map <leader>1 <Action>(HarpoonerOpenFile0)
map <leader>2 <Action>(HarpoonerOpenFile1)
map <leader>3 <Action>(HarpoonerOpenFile2)
map <leader>4 <Action>(HarpoonerOpenFile3)
